body{
    text-align:left;
    margin-left: 20%;
    background-color: aliceblue;
}
img {
    width: 300px;
    margin-left: -8%;
}

li  {
    font-size: 1.3rem;
    list-style:none;
    margin-left: -7%;
}

p {
    font-size: 1.1rem;
}